<div class="page-header-inner">
    <div class="page-logo">
        <a href="index.html">
          <img alt="chat-bot-hub" src="img/logo.png" height="30" class="logo-default"> </a>
        <div class="menu-toggler sidebar-toggler"> </div>
    </div>
    
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-user"  style="font-family:'Microsoft YaHei';color: #fff;line-height: 50px;">
                <span set-username style="margin-left: 15px;"></span>
                <span ng-click="event.logout()" style="cursor: pointer;">退出</span>
            </li>
        </ul>
    </div>
</div>
