<ul class="page-sidebar-menu page-header-fixed" hy-sidebar>
  <li class="nav-item" ng-class="{'active open':$state.includes('app.login')}">
    <a href="javascript:;" class="nav-link nav-toggle">
      <i class="fa fa-cubes"></i>
      <span class="title">登录</span>
      <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item">
        <a ui-sref="app.login.login" class="nav-link" >
          <span class="title">登录</span>
        </a>
      </li>
    </ul>
  </li>
</ul>
