<div ncy-breadcrumb></div>
<h3 class="page-title">登录</h3>

<div class="row">
  <div class="modal-body form-group-padding" id="order_monitor_modal_body">
    <div class="row form-group-padding">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	<label for="text_name" class="col-lg-2 col-md-2 col-sm-4 col-xs-4 control-label">用户名</label>
	<input id="text_name" name="text_name" type="text" class="col-lg-4 col-md-4 col-sm-8 col-xs-8" ng-model="data.username" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	<label for="pswd" class="col-lg-2 col-md-2 col-sm-4 col-xs-4 control-label">密码</label>
	<input id="pswd" name="pswd" type="password" class="col-lg-4 col-md-4 col-sm-8 col-xs-8" ng-model="data.password" />
      </div>
    </div>    

    <div class="row form-group-padding">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	<button class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pure-btn pure-button-primary" ng-click="login(data)">登录</button>
      </div>
    </div>
  </div>
  
</div>

<div class="row">
  <div class="col-xs-3 col-md-6">
    <pre style="width:800px" ng-bind-html="bodypretty">
    </pre>
  </div>
</div>






