<div ncy-breadcrumb></div>
<h3 class="page-title">机器人列表</h3>

<div class="row">
  <div class="col-xs-12 col-md-12">    
    <div class="col-xs-2 col-md-1">
      <button class="btn green col-md-12" ng-click="createBot()">新建机器人</button>
    </div>
    <div class="col-xs-2 col-md-1">
      <button class="btn green col-md-12" ng-click="scanWechatBot()">微信扫码新建</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <table datatable="ng" class="row-border table-hover table table-bordered table-striped ng-show"
	   style="padding:40px;margin:10px;width:auto">
      <th style="text-align:center">名称</th>
      <th style="text-align:center">操作</th>
      <th style="text-align:center">类型</th>
      <th style="text-align:center">帐号</th>
      <th style="text-align:center">状态</th>
      <th style="text-align:center">客户端编号</th>
      <th style="text-align:center">回调地址</th>
      <th style="text-align:center">最后活跃</th>
      <th style="text-align:center">启动时间</th>
      <th style="text-align:center">创建时间</th>
            
      <tbody>
	<tr ng-repeat="row in body">
	  <td style="text-align:center;width:120px">
	    <a href="javascript:;" ng-click="editBot(row)">{{ row.botName }}</a>
	  </td>
          <td style="width:200px">
	    <span ng-if="row.status!=200">
	      <span ng-if="row.clientType == 'QQBOT'">
		<a href="javascript:;" ng-click="showQQLogin(row)">QQ登录</a>
	      </span>
	      <span ng-if="row.clientType == 'WECHATBOT'">
		<a href="javascript:;" ng-click="wechatLogin(row)">登录</a> |
                <a href="javascript:;" ng-click="showScanUrl(row)">取码</a> | <br/>
		<a href="javascript:;" ng-click="clearLoginInfo(row)">清除登录数据</a> |
                <a href="javascript:;" ng-click="shutdown(row)">关闭客户端</a>
	      </span>
	    </span>
	    <span ng-if="row.status==200">
	      <a href="javascript:;" ng-click="botAction(row)">发消息</a> |
              <a href="javascript:;" ng-click="botLogout(row)">登出</a>
	    </span>
	  </td>
	  <td style="text-align:center;width:120px">{{ consts.types[row.clientType] }}</td>
	  <td style="text-align:center;width:120px">{{ row.login }}</td>
	  <td style="text-align:center;width:120px">
	    <span ng-if="row.status===undefined">未连接</span>
	    <span ng-if="row.status!==undefined">{{ consts.status[row.status] }}</span>
	  </td>
          <td style="text-align:left;width:240px">{{ row.clientId }}</td>
          <td style="text-align:left;width:240px">{{ row.callback }}</td>
          <td style="text-align:center;width:160px">{{ tsToString(row.lastPing) }}</td>
          <td style="text-align:center;width:160px">{{ tsToString(row.startAt) }}</td>
	  <td style="text-align:center;width:160px">{{ tsToString(row.createAt) }}</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>

<script type="text/ng-template" id="loginQQTemplate">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()"></button>
    <h3 class="modal-title">QQ登录</h3>
  </div>

  <div class="modal-body form-group-padding" id="loginQQ_modal_body">
    <div class="row form-group-padding">
      <div class="col-md-9">
	<label for="text_qqnum" class="col-md-3 control-label">QQ号</label>
	<input id="text_qqnum" name="text_qqnum" type="text" class="col-md-6" ng-model="data.login" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-9">
	<label for="text_password" class="col-md-3 control-label">密码</label>
	<input id="text_password" name="text_password" type="password" class="col-md-6" ng-model="data.password" />
      </div>
    </div>

    <input id="hidden_clientId" name="hidden_clientId" type="hidden" ng-model="data.clientId" />
    <input id="hidden_botId" name="hidden_botId" type="hidden" ng-model="data.botId" />

    <div class="row form-group-padding">
      <div class="col-md-3">
	<button class="btn green" ng-click="login(data)">登录</button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="loginWechatTemplate">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()"></button>
    <h3 class="modal-title">微信密码登录</h3>
  </div>

  <div class="modal-body form-group-padding" id="loginWechat_modal_body">
    <div class="row form-group-padding">
      <div class="col-md-9">
	<label for="text_login" class="col-md-3 control-label">微信号</label>
	<input id="text_login" name="text_login" type="text" class="col-md-6" ng-model="data.login" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-9">
	<label for="text_password" class="col-md-3 control-label">密码</label>
	<input id="text_password" name="text_password" type="password" class="col-md-6" ng-model="data.password" />
      </div>
    </div>

    <input id="hidden_clientId" name="hidden_clientId" type="hidden" ng-model="data.clientId" />
    <input id="hidden_botId" name="hidden_botId" type="hidden" ng-model="data.botId" />

    <div class="row form-group-padding">
      <div class="col-md-3">
	<button class="btn green" ng-click="login(data)">登录</button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="botActionTemplate">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()"></button>
    <h3 class="modal-title">发消息</h3>
  </div>

  <div class="modal-body form-group-padding" id="loginWechat_modal_body">
    <div class="row form-group-padding">
      <div class="col-md-6">
	<select id="select_type" name="select_type" ng-model="data.actionType" required>
	  <option value="">选择消息类型</option>
	  <option value="SendTextMessage">文本消息</option>
	  <option value="SendAppMessage">应用卡片</option>
          <option value="GetContact">获取好友信息</option>
          <option value="SearchContact">搜索用户</option>
          <option value="AddContact">加好友</option>
	  <option value="AcceptUser">通过好友申请</option>
	  <option value="SayHello">欢迎语</option>          
	  <option value="DeleteContact">删除好友</option>
          <option value="SyncContact">同步联系人</option>
          <option value="===">===</option>
	  <option value="CreateRoom">建群</option>
	  <option value="GetRoomMembers">获取群成员</option>
	  <option value="AddRoomMember">加好友进群</option>
	  <option value="InviteRoomMember">邀请好友进群</option>
	  <option value="DeleteRoomMember">踢出群成员</option>
	  <option value="SetRoomName">设置群名称</option>
          <option value="GetRoomQRCode">获取群二维码</option>
	  <option value="SetRoomAnnouncement">发布群通知</option>
          <option value="===">===</option>
          <option value="SnsSendMoment">发朋友圈</option>
          <option value="SnsTimeline">查看朋友圈动态</option>
          <option value="SnsUserPage">查看用户朋友圈</option>
          <option value="SnsGetObject">获取朋友圈信息详情</option>
          <option value="SnsComment">评论朋友圈</option>
          <option value="SnsLike">朋友圈点赞</option>
          <option value="SnsUpload">上传图片到朋友圈</option>
          <option value="SnsobjectOP">操作朋友圈</option>
          <option value="===">===</option>
          <option value="GetLabelList">获取标签列表</option>
          <option value="AddLabel">添加标签</option>
          <option value="DeleteLabel">删除标签</option>
          <option value="SetLabel">设置联系人标签</option>
          <option value="===">===</option>
          <option value="GetRequestToken">获取页面授权</option>
          <option value="RequestUrl">获取页面数据</option>
	</select>
      </div>
    </div>
    
    <div class="row form-group-padding">
      <div class="col-md-11">
        <div class="row form-group-padding" ng-repeat="act in actions[data.actionType]">
          <label for="{{act.name}}" class="col-md-2 control-label">{{act.display}}
            <span style="color:red" ng-show="act.required" >*</span>
          </label>
          <input ng-if="act.type == 'string'" class="col-md-4"
                 ng-model="data.actionBody[act.name]"
                 id="{{act.name}}" ng-required="act.required" />
          <input ng-if="act.type == 'int'" class="col-md-4"
                 ng-model="data.actionBody[act.name]"
                 id="{{act.name}}" ng-required="act.required" />
          <textarea ng-if="act.type == 'longstring'" class="col-md-4"
                    ng-model="data.actionBody[act.name]" rows="6" 
                    id="{{act.name}}" ng-required="act.required" />
          <span class="col-md-2" style="color:grey">
            {{act.name}} 
          </span>
          <span class="col-md-4" style="color:grey">
            {{act.comment}}
          </span>
        </div>
      </div>
    </div>

    <input id="hidden_clientId" name="hidden_clientId" type="hidden" ng-model="data.clientId" />
    <input id="hidden_login" name="hidden_login" type="hidden" ng-model="data.login" />

    <div class="row form-group-padding">
      <div class="col-md-3">
	<button class="btn green" ng-click="sendAction(data)">发送</button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="createBotTemplate">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()"></button>
    <h3 class="modal-title">新建机器人</h3>
  </div>
  <div class="modal-body form-group-padding" id="editBotBody">
    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_botName" class="col-md-3 control-label">名称</label>
	<input id="text_botName" name="text_botName" type="text" class="col-md-9" ng-model="data.botName" />
      </div>      
    </div>

    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_type" class="col-md-3 control-label">类型</label>
	<input id="text_type" name="text_type" type="text" class="col-md-9" ng-model="data.clientType" />
      </div>
    </div>
    
    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_login" class="col-md-3 control-label">帐号</label>
	<input id="text_login" name="text_login" type="text" class="col-md-9" ng-model="data.login" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_callback" class="col-md-3 control-label">回调地址</label>
	<input id="text_callback" name="text_callback" type="text" class="col-md-9" ng-model="data.callback" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_loginInfo" class="col-md-3 control-label">Login Info</label>
	<textarea id="text_loginInfo" name="text_loginInfo" rows="10" class="col-md-9" ng-model="data.loginInfo" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-3">
	<button class="btn green" ng-click="createBot(data)">保存</button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="editBotTemplate">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()"></button>
    <h3 class="modal-title">编辑机器人信息</h3>    
  </div>
  <div class="modal-body form-group-padding" id="editBotBody">
    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_botName" class="col-md-3 control-label">名称</label>
	<input id="text_botName" name="text_botName" type="text" class="col-md-9" ng-model="data.botName" />
      </div>      
    </div>

    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_type" class="col-md-3 control-label">类型</label>
	<input id="text_type" name="text_type" type="text" class="col-md-9" ng-model="data.clientType" readonly />
      </div>
    </div>
    
    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_login" class="col-md-3 control-label">帐号</label>
	<input id="text_login" name="text_login" type="text" class="col-md-9" ng-model="data.login" readonly />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_filterId" class="col-md-3 control-label" style="position:relative;top:8px">消息过滤器</label>
	<input id="text_filterId" name="text_filterId" type="text" class="col-md-9" ng-model="data.filterId" style="position:relative;top:8px"/>
      </div>
      <div class="col-md-2">
        <button type="button" ng-click="rebuildMsgFilters(data)"  class="btn blue">重建消息过滤器</button>
      </div>
    </div>
    
    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_momentFilterId" class="col-md-3 control-label" style="position:relative;top:8px">动态过滤器</label>
	<input id="text_momentFilterId" name="text_momentFilterId" type="text" class="col-md-9" ng-model="data.momentFilterId" style="position:relative;top:8px"/>
      </div>
      <div class="col-md-2">
        <button ng-click="rebuildMomentFilters(data)" class="btn blue">重建动态过滤器</button>
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_wxaappid" class="col-md-3 control-label">APPID</label>
	<input id="text_wxaappid" name="text_wxaappid" type="text" class="col-md-9" ng-model="data.wxaappId" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_callback" class="col-md-3 control-label">回调地址</label>
	<input id="text_callback" name="text_callback" type="text" class="col-md-9" ng-model="data.callback" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_loginInfo" class="col-md-3 control-label">Login Info</label>
	<textarea id="text_loginInfo" name="text_loginInfo" rows="10" class="col-md-9" ng-model="data.loginInfo" />
      </div>
    </div>

    <input id="hidden_clientId" name="hidden_clientId" type="hidden" ng-model="data.clientId" />
    <input id="hidden_botId" name="hidden_botId" type="hidden" ng-model="data.botId" />
    
    <div class="row form-group-padding">
      <div class="col-md-3">
	<button class="btn green" ng-click="saveBot(data)">保存</button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="scanWechatBotTemplate">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()"></button>
    <h3 class="modal-title">扫码新建微信机器人</h3>
  </div>
  <div class="modal-body form-group-padding" id="scanWechatBotBody">
    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_botName" class="col-md-3 control-label">名称</label>
	<input id="text_botName" name="text_botName" type="text" class="col-md-9" ng-model="data.botName" />
      </div>      
    </div>

    <input id="hidden_type" name="hidden_type" type="hidden" ng-model="data.clientType" />

    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_callback" class="col-md-3 control-label">回调地址</label>
	<input id="text_callback" name="text_callback" type="text" class="col-md-9" ng-model="data.callback" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-3">
	<button class="btn green" ng-click="scanCreateBot(data)">新建</button>
      </div>
    </div>
  </div>  
</script>

<script type="text/ng-template" id="scanUrlTemplate">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()"></button>
    <h3 class="modal-title">获取二维码</h3>
  </div>
  <div class="modal-body" id="scanUrlBody">
    <div ng-if="data.scanUrl!='CONFIRM_ON_PHONE'">
      <img ng-src="{{data.scanUrl}}" width="480" height="480" />
    </div>
    <div ng-if="data.scanUrl=='CONFIRM_ON_PHONE'">
      <span>请在手机上确认登录iPad</span>
    </div>
  </div> 
</script>
