<div ncy-breadcrumb></div>
<h3 class="page-title">机器人列表</h3>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <table datatable="ng" class="row-border table-hover table table-bordered table-striped ng-show"
	   style="padding:40px;margin:10px;width:auto">
      <th style="text-align:center">名称</th>
      <th style="text-align:center">类型</th>
      <th style="text-align:center">帐号</th>
      <th style="text-align:center">状态</th>
      <th style="text-align:center">创建时间</th>
      <th style="text-align:center">启动时间</th>
      <th style="text-align:center">最后活跃</th>
      <th style="text-align:center">客户端编号</th>
      <th style="text-align:center">操作</th>
      
      <tbody>
	<tr ng-repeat="row in body">
	  <td style="text-align:center;width:160px">{{ row.botName }}</td>
	  <td style="text-align:center;width:120px">{{ consts.types[row.clientType] }}</td>
	  <td style="text-align:center;width:120px">{{ row.login }}</td>
	  <td style="text-align:center;width:120px">{{ consts.status[row.status] }}</td>
	  <td style="text-align:center;width:160px">{{ tsToString(row.createAt*1000) }}</td>
	  <td style="text-align:center;width:160px">{{ tsToString(row.startAt) }}</td>
	  <td style="text-align:center;width:160px">{{ tsToString(row.lastPing) }}</td>
	  <td style="text-align:left;width:240px">{{ row.clientId }}</td>
	  <td style="text-align:left;width:160px">
	    <span ng-if="row.clientType == 'QQBOT'">
	      <a href="javascript:;" ng-click="showQQLogin(row)">QQ登录</a>
	    </span>
	    <span ng-if="row.clientType == 'WECHATBOT'">
	      <a href="javascript:;" ng-click="wechatLogin(row)">微信登录</a>
	    </span>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-md-6">
    <pre style="width:800px" ng-bind-html="bodypretty">
    </pre>
  </div>
</div>


<script type="text/ng-template" id="loginQQTemplate">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()"></button>
    <h3 class="modal-title">QQ登录</h3>
  </div>

  <div class="modal-body form-group-padding" id="loginQQ_modal_body">
    <div class="row form-group-padding">
      <div class="col-md-9">
	<label for="text_qqnum" class="col-md-3 control-label">QQ号</label>
	<input id="text_qqnum" name="text_qqnum" type="text" class="col-md-6" ng-model="data.qqnum" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-9">
	<label for="text_password" class="col-md-3 control-label">密码</label>
	<input id="text_password" name="text_password" type="password" class="col-md-6" ng-model="data.password" />
      </div>
    </div>

    <input id="hidden_clientId" name="hidden_clientId" type="hidden" ng-model="data.clientId" />

    <div class="row form-group-padding">
      <div class="col-md-3">
	<button class="btn green" ng-click="login(data)">登录</button>
      </div>
    </div>
  </div>
</script>
