<div ncy-breadcrumb></div>
<h3 class="page-title">机器人列表</h3>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <table datatable="ng" class="row-border table-hover table table-bordered table-striped ng-show"
	   style="padding:40px;margin:10px;width:auto">
      <th style="text-align:center">名称</th>
      <th style="text-align:center">类型</th>
      <th style="text-align:center">帐号</th>
      <th style="text-align:center">状态</th>
      <th style="text-align:center">创建时间</th>
      <th style="text-align:center">启动时间</th>
      <th style="text-align:center">最后活跃</th>
      <th style="text-align:center">客户端编号</th>
      <th style="text-align:center">回调地址</th>
      <th style="text-align:center">操作</th>
      
      <tbody>
	<tr ng-repeat="row in body">
	  <td style="text-align:center;width:160px">
	    < href="javascript:;" ng-click="editBot(row)">{{ row.botName }}</a>
	  </td>
	  <td style="text-align:center;width:120px">{{ consts.types[row.clientType] }}</td>
	  <td style="text-align:center;width:120px">{{ row.login }}</td>
	  <td style="text-align:center;width:120px">
	    <span ng-if="row.status===undefined">未连接</span>
	    <span ng-if="row.status!==undefined">{{ consts.status[row.status] }}</span>
	  </td>
	  <td style="text-align:center;width:160px">{{ tsToString(row.createAt*1000) }}</td>
	  <td style="text-align:center;width:160px">{{ tsToString(row.startAt) }}</td>
	  <td style="text-align:center;width:160px">{{ tsToString(row.lastPing) }}</td>
	  <td style="text-align:left;width:240px">{{ row.clientId }}</td>
	  <td style="text-align:left;width:240px">{{ row.callback }}</td>
	  <td style="width:160px">
	    <span ng-if="row.status!=200">
	      <span ng-if="row.clientType == 'QQBOT'">
		<a href="javascript:;" ng-click="showQQLogin(row)">QQ登录</a>
	      </span>
	      <span ng-if="row.clientType == 'WECHATBOT'">
		<a href="javascript:;" ng-click="wechatLogin(row)">扫码登录</a> |
		<a href="javascript:;" ng-click="showWechatLogin(row)">密码登录</a>
	      </span>
	    </span>
	    <span ng-if="row.status==200">
	      <a href="javascript:;" ng-click="botAction(row)">发消息</a>
	    </span>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
</div>

<script type="text/ng-template" id="loginQQTemplate">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()"></button>
    <h3 class="modal-title">QQ登录</h3>
  </div>

  <div class="modal-body form-group-padding" id="loginQQ_modal_body">
    <div class="row form-group-padding">
      <div class="col-md-9">
	<label for="text_qqnum" class="col-md-3 control-label">QQ号</label>
	<input id="text_qqnum" name="text_qqnum" type="text" class="col-md-6" ng-model="data.login" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-9">
	<label for="text_password" class="col-md-3 control-label">密码</label>
	<input id="text_password" name="text_password" type="password" class="col-md-6" ng-model="data.password" />
      </div>
    </div>

    <input id="hidden_clientId" name="hidden_clientId" type="hidden" ng-model="data.clientId" />
    <input id="hidden_botId" name="hidden_botId" type="hidden" ng-model="data.botId" />

    <div class="row form-group-padding">
      <div class="col-md-3">
	<button class="btn green" ng-click="login(data)">登录</button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="loginWechatTemplate">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()"></button>
    <h3 class="modal-title">微信密码登录</h3>
  </div>

  <div class="modal-body form-group-padding" id="loginWechat_modal_body">
    <div class="row form-group-padding">
      <div class="col-md-9">
	<label for="text_login" class="col-md-3 control-label">微信号</label>
	<input id="text_login" name="text_login" type="text" class="col-md-6" ng-model="data.login" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-9">
	<label for="text_password" class="col-md-3 control-label">密码</label>
	<input id="text_password" name="text_password" type="password" class="col-md-6" ng-model="data.password" />
      </div>
    </div>

    <input id="hidden_clientId" name="hidden_clientId" type="hidden" ng-model="data.clientId" />
    <input id="hidden_botId" name="hidden_botId" type="hidden" ng-model="data.botId" />

    <div class="row form-group-padding">
      <div class="col-md-3">
	<button class="btn green" ng-click="login(data)">登录</button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="botActionTemplate">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()"></button>
    <h3 class="modal-title">发消息</h3>
  </div>

  <div class="modal-body form-group-padding" id="loginWechat_modal_body">
    <div class="row form-group-padding">
      <div class="col-md-6">
	<select id="select_type" name="select_type" ng-model="data.actionType" required>
	  <option value="">选择消息类型</option>
	  <option value="SendTextMessage">文本消息</option>
	  <option value="AcceptUser">通过好友申请</option>
	  <option value="AddContact">加好友</option>
	  <option value="SayHello">欢迎语</option>
	  <option value="CreateRoom">建群</option>
	  <option value="AddRoomMember">加好友进群</option>
	  <option value="InviteRoomMember">邀请好友进群</option>
	  <option value="DeleteRoomMember">踢出群成员</option>
	</select>
      </div>
    </div>
    <div class="row form-group-padding">
      <div class="col-md-12">
	<textarea id="textarea_body" name="textarea_body" class="col-md-12" ng-model="data.actionBody" />
      </div>
    </div>

    <input id="hidden_clientId" name="hidden_clientId" type="hidden" ng-model="data.clientId" />
    <input id="hidden_login" name="hidden_login" type="hidden" ng-model="data.login" />

    <div class="row form-group-padding">
      <div class="col-md-3">
	<button class="btn green" ng-click="sendAction(data)">发送</button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="editBotTemplate">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()"></button>
    <h3 class="modal-title">编辑机器人信息</h3>    
  </div>
  <div class="modal-body form-group-padding" id="editBotBody">
    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_botName" class="col-md-3 control-label">名称</label>
	<input id="text_botName" name="text_botName" type="text" class="col-md-12" ng-model="data.botName" />
      </div>      
    </div>

    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_type" class="col-md-3 control-label">类型</label>
	<input id="text_type" name="text_type" type="text" class="col-md-12" ng-model="data.clientType" />
      </div>
    </div>
    
    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_login" class="col-md-3 control-label">帐号</label>
	<input id="text_login" name="text_login" type="text" class="col-md-12" ng-model="data.login" />
      </div>
    </div>

    <div class="row form-group-padding">
      <div class="col-md-6">
	<label for="text_callback" class="col-md-3 control-label">回调地址</label>
	<input id="text_callback" name="text_callback" type="text" class="col-md-12" ng-model="data.callback" />
      </div>
    </div>    

    <input id="hidden_clientId" name="hidden_clientId" type="hidden" ng-model="data.clientId" />
    
    <div class="row form-group-padding">
      <div class="col-md-3">
	<button class="btn green" ng-click="saveBot(data)">保存</button>
      </div>
    </div>
  </div>
</script>
