<div ncy-breadcrumb></div>
<h3 class="page-title">联系人列表</h3>

<div class="row">
  <div class="col-xs-12 col-md-6 form-group-padding">
    <div class="col-xs-2 col-md-2">
      <label class="control-label" for="select_type"  style="position:relative;top:8px">类型</label> 
      <select id="select_type" name="select_type" ng-model="criteria.type"  style="position:relative;top:8px">
        <option value="">全部</option>
        <option value="WECHATBOT">微信</option>
      </select>
    </div>
    <div class="col-xs-5 col-md-5" >
      <label class="control-label" for="botlogin"  style="position:relative;top:8px">BotLogin</label>
      <input ng-model="criteria.botlogin" type="text" id="botlogin" name="botlogin" size="14"  style="position:relative;top:8px" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6 form-group-padding">
    <div class="col-xs-5 col-md-5" >
      <label class="control-label" for="username"  style="position:relative;top:8px">帐号</label>
      <input ng-model="criteria.username" type="text" id="username" name="username" size="14"  style="position:relative;top:8px" />
    </div>
    <div class="col-xs-5 col-md-5" >
      <label class="control-label" for="nickname"  style="position:relative;top:8px">昵称</label>
      <input ng-model="criteria.nickname" type="text" id="nickname" name="nickname" size="14"  style="position:relative;top:8px"/>
    </div>
    <div class="col-xs-2 col-md-2">
      <button class="btn green btn-block" ng-click="search()">查询</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-md-10">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <ul class="pagination">
	<li ng-repeat="i in paging.pagerange">
	  <span ng-if=" i != paging.page ">
	    <a href="javascript:;" ng-click="paging.jump(i)">{{i}}</a>
	  </span>
	  <span ng-if=" i == paging.page ">
	    <b>{{i}}</b>
	  </span>
	</li>
      </ul>
    </div>
    
    <table datatable="ng" class="row-border table-hover table table-bordered table-striped ng-show"
	   style="padding:40px;margin:10px;width:auto">
      <th style="text-align:center">类型</th>
      <th style="text-align:center"></th>
      <th style="text-align:center">帐号</th>
      <th style="text-align:center">昵称</th>
      <th style="text-align:center">性别</th>
      <th style="text-align:center">国家</th>
      <th style="text-align:center">省</th>
      <th style="text-align:center">市</th>
      <th style="text-align:center">签名</th>
      <th style="text-align:center">备注</th>
      <th style="text-align:center">标签</th>
      <th style="text-align:center">创建时间</th>
      <th style="text-align:center">更新时间</th>
      
      <tbody>
	<tr ng-repeat="row in body.data">
          <td style="text-align:center;width:120px">{{ consts.types[row.type] }}</td>
	  <td style="text-align:center;width:60px">
            <img ng-src="{{row.avatar}}" width="32" height="32"/>
          </td>
	  <td style="text-align:center;width:120px">{{ row.username }}</td>
	  <td style="text-align:center;width:120px">{{ row.nickname}}</td>
          <td style="text-align:center;width:60px">
            <span ng-if="row.sex==0">-</span>
	    <span ng-if="row.sex==1">男</span>
            <span ng-if="row.sex==2">女</span>
          </td>
          <td style="text-align:center;width:60px">{{ row.country }}</td>
          <td style="text-align:center;width:120px">{{ row.province }}</td>
          <td style="text-align:center;width:120px">{{ row.city }}</td>
          <td style="text-align:center;width:120px">{{ row.signature }}</td>
          <td style="text-align:center;width:120px">{{ row.remark }}</td>
          <td style="text-align:center;width:120px">{{ row.label }}</td>
	  <td style="text-align:center;width:160px">{{ row.createat }}</td>
	  <td style="text-align:center;width:160px">{{ row.updateat }}</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
