<div ncy-breadcrumb></div>
<h3 class="page-title">客户端列表</h3>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <table datatable="ng" class="row-border table-hover table table-bordered table-striped ng-show"
	   style="padding:40px;margin:10px;width:auto">
      <th style="text-align:center">客户端编号</th>
      <th style="text-align:center">帐号</th>
      <th style="text-align:center">类型</th>
      <th style="text-align:center">操作</th>
      <th style="text-align:center">状态</th>
      <th style="text-align:center">最后活跃</th>
      <th style="text-align:center">启动时间</th>
            
      <tbody>
	<tr ng-repeat="row in body">
          <td style="text-align:left;width:240px">{{ row.clientId }}</td>
          <td style="text-align:center;width:120px">{{ row.login }}</td>
          <td style="text-align:center;width:120px">{{ consts.types[row.clientType] }}</td>
          <td style="text-align:center;width:120px">
            <a href="javascript:;" ng-click="shutdown(row)">关闭</a>
          </td>
	  <td style="text-align:center;width:120px">
	    <span ng-if="row.status===undefined">未连接</span>
	    <span ng-if="row.status!==undefined">{{ consts.status[row.status] }}</span>
	  </td>
          <td style="text-align:center;width:160px">{{ tsToString(row.lastPing) }}</td>
          <td style="text-align:center;width:160px">{{ tsToString(row.startAt) }}</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
